.searchInputContainer {
    display: flex;
    align-items: center;
    input {
        padding: 1em;
        border-radius: 15px;
        margin: 0.5em;
        margin-left: 1em;
        border: 2px solid #238DC1;
        font-family: 'Open Sans', sans-serif;
        width: 200px;
    }
    @media screen and (max-width: 481px) {
        flex-direction: column;
    }

}