@import '../../index.scss';

.cart-header {
    font-family: 'Domine', serif;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2em;

    &.empty {
        height: 33.4vh;
        margin: 1em;
        text-align: center;
    }
}

.cart-products-container {
    width: 80%;
}