@import '../../index.scss';

.tiles-container {
    padding-top: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.tiles-row {
    display: flex;
    justify-content: center;
}

.tiles-img {
    position: relative;
    background-color: transparent;
    width: 60vh;
    height: 40vh;
    perspective: 1000px;

    .flip-card-inner {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        &.flipped {
          transform: rotateY(180deg);
        }
    }

    .flip-card-front, 
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        //below padding makes overlap of tiles
        padding: 2em;
    }
    
    .flip-card-front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../assets/images/img_8.jpg');
        color: white;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 5px;
        }
    }
    
    .flip-card-back {
        transform: rotateY(180deg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../assets/images/img_8.jpg');
        color: black;

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(225, 255, 255, 0.8);
            z-index: -1;
            border-radius: 5px;
        }

        h1 {
            font-size: x-large;
        }

        ul p {
            font-weight: bold;
        }

        .back-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;

            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
  
            .back-button {
                color: #238DC1;
                font-family: 'Domine', serif;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
  
                &:hover {
                    cursor: pointer;
                    color: #39a5af;
                }

                img {
                    width: 0.5em;
                    height: 0.5em;
                    padding-right: 0.4em;
                }
            }
        }
    }

    h1 {
        z-index: 1;
        font-family: 'Abril Fatface', cursive;
        font-weight: lighter;
    }
}

.document-button-wrapper {
    z-index: 1;

    button {
        @include reset-button-style;
        color: white;
        font-family: 'Domine', serif;
    }

    button:hover {
        cursor: pointer;
        transform: translateY(-0.25em);
        box-shadow: 0 0.5em 0.5em -0.4em $color2;
    }
}    

.tiles-price {
    width: 60vh;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'Domine', serif;
        font-size: x-large;
        
    }

    .price-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            z-index: 1;
            @include reset-button-style;
            color: white;
            background-color: #238DC1;
            margin-top: 1em;
            margin-bottom: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: box-shadow 0.3s ease;
            font-family: 'Domine', serif;
    
            @media screen and (max-width: 460px) {
                padding: 1em 1.3em;
                transition: padding 0.5s ease;
            }
    
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
                transform: scale(1.1);
            }
        }
    }
}