@import '../../index.scss';

.tiles-container {
    padding-top: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.tiles-row {
    display: flex;
    justify-content: center;
}

.tiles-img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/images/img_8.jpg');
    width: 60vh;
    height: 40vh;
    border-radius: 5px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        z-index: 1;
        font-family: 'Abril Fatface', cursive;
        font-weight: lighter;
    }
}

.document-button-wrapper {
    z-index: 1;

    button {
        @include reset-button-style;
        color: white;
        font-family: 'Domine', serif;
    }

    button:hover {
        cursor: pointer;
        transform: translateY(-0.25em);
        box-shadow: 0 0.5em 0.5em -0.4em $color2;
    }
}    

.tiles-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60vh;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.tiles-price {
    width: 60vh;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'Domine', serif;
        font-size: x-large;
        
    }

    .price-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include reset-button-style;
            color: white;
            background-color: #D7C724;
            margin-top: 1em;
            margin-bottom: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: box-shadow 0.3s ease;
            font-family: 'Domine', serif;
    
            @media screen and (max-width: 460px) {
                padding: 1em 1.3em;
                transition: padding 0.5s ease;
            }
    
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
                transform: scale(1.1);
            }
        }
    }
}