@import '../../../../index.scss';

.owner-support-item-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 2em;
    margin-bottom: 6em;

    @media screen and (max-width: 1620px) {
        width: 75%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 1550px) {
        width: 80%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 1430px) {
        width: 85%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 1340px) {
        width: 90%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 1251px) {
        width: 100%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 990px) {
        display: grid;
        grid-template-columns: 1fr;
        width: 60%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 680px) {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 530px) {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 460px) {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        transition: all 0.5s ease;
    }

    .table-column {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: 1;
        border-radius: 15px;
        font-family: 'Domine', serif;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: all 0.3s ease-in-out;
        background-color: #e5e4e2;

        .table-column-header {
            background: rgb(35,141,193);
            background: linear-gradient(90deg, rgba(35,141,193,1) 50%, rgba(229,228,226,1) 100%);
            color: white;
            width: 100%;

            border-radius: 100% 0% 100% 0% / 44% 43% 57% 56%;
            padding-top: 4em;
            padding-bottom: 5em;
            margin-top: 1em;
            letter-spacing: 0.2em;

            .package-name {
                letter-spacing: 0.2em;
                margin-bottom: 0.5em;
                font-size: x-large;
                font-weight: bold;
                color: $colorM;
                font-family: 'Tilt Prism', cursive;
            }

            img {
                width: 5em;
                height: 5em;
            }
        }
        .table-column-body {
            background-color: #e5e4e2;
            padding: 0 1em;
            .table-row-item {
                margin: 1em;
                font-family: 'Montserrat', sans-serif;
                height: 3em;
                font-weight: 500;
                text-transform: uppercase;
    
                // hide a cross on a table for max-width 491px
                &.table-cross {
                    @media screen and (max-width: 990px) {
                        display: none;
                        color: blue;
                    }
                }
            }
        }

        .table-column-footer {
            margin: 2em 0;
            .table-column-price {
                height: 3em;
                padding: 0 3em;
                font-size: large;
            }
            button {
                @include reset-button-style;
                background-color: $colorM;
                color: white;

                &:hover {
                    @include hover-btn;
                }
            }
        }

        .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 1;
            
            &:before, &:after {
                position: absolute;
                z-index: -1;
                content: '';
                display: block;
                border: 5px solid #2e858f;
                border-top-color: transparent;
                border-right-color: transparent;
            }

            &:before {
                top: 0;
                left: 0;
            }

            &:after {
                bottom: 0;
                right: 0;
            }

            span {
                font-size: small;
                position: absolute;
                display: block;
                width: 225px;
                padding: 15px 0;
                background-color: #39a5af;
                box-shadow: 0 5px 10px rgba(0,0,0,.1);
                color: #fff;
                font: 700 18px/1 'Domine', serif;;
                text-shadow: 0 1px 1px rgba(0,0,0,.2);
                text-transform: uppercase;
                text-align: center;
                left: -25px;
                top: 30px;
                transform: rotate(45deg);
            }
        }

        &.proper {
            .ribbon:before, .ribbon:after {
                border: 5px solid #cf6c6a;
            }

            span {
                background-color: #E4A9A8;

            }
        }

        &:hover {
            box-shadow: 0 0 10px 2px #ff9900;
            transform: scale(1.01);
        }
    }
}
