@import '../../../index.scss';

.quiz-request-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 6em;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.8);
    font-family: 'Barlow Semi Condensed', sans-serif;

    .quiz-request-content {
        width: 50%;
        h1 {
            font-size: x-large;
        }

        .quiz-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                @include reset-button-style;
                color: white;
                background-color: #39a5af;
                margin-top: 1em;
                margin-bottom: 2em;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                transition: box-shadow 0.3s ease;
                font-weight: bold;
        
                @media screen and (max-width: 460px) {
                    padding: 1em 1.3em;
                    transition: padding 0.5s ease;
                }
        
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
                    transform: scale(1.1);
                }
            } 
        }   
    }
}