@import '../../../index.scss';

.cart-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-family: 'Domine', serif;
    margin-bottom: 2em;

    .cart-item-remove {
        color: #238DC1;
        &:hover {
            cursor: pointer;
            color: #39a5af;
        }
    }
}