.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8em 5em; /* Add the desired padding value */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }