@import '../../index.scss';

.property-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.property-before-table {
    width: 100%;
}

.property-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      transition: all 0.5s ease;
    }
  
    @media screen and (max-width: 600px) {
      flex-direction: column;
      transition: all 0.5s ease;
    }    

    .property-header {
        z-index: 1;
        font-size: xx-large;
        width: 30%;
        border-top: 1px solid $colorM;
        border-bottom: 1px solid $colorM;
        margin-bottom: 1em;
        color: black;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
        margin: 0;
        padding-top: 1em;
        padding-bottom: 1em;

        @media screen and (max-width: 2065px) {
            width: 40%;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 1000px) {
            width: 60%;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 770px) {
            font-size: x-large;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 470px) {
            font-size: large;
            width: 50%;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 400px) {
            font-size: large;
            width: 70%;
            transition: all 0.5s ease;
        }

        &.subheader {
            font-size: x-large;
        }
    }
}

.property-table-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 3em 0;
    // border: 1px solid black;
    // border-radius: 5px;
    padding: 0.5em;

    // @media screen and (max-width: 1170px) {
    //     justify-content: flex-start;
    //     flex-wrap: wrap;
    //     transition: all 0.5s ease;
    // }

    // @media screen and (max-width: 790px) {
    //     width: 60%;
    //     transition: all 0.5s ease;
    // }

    // @media screen and (max-width: 660px) {
    //     width: 70%;
    //     transition: all 0.5s ease;
    // }

    // @media screen and (max-width: 560px) {
    //     width: 80%;
    //     transition: all 0.5s ease;
    // }

    // @media screen and (max-width: 500px) {
    //     width: 85%;
    //     transition: all 0.5s ease;
    // }

    .table-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        font-family: 'Domine', serif;
        font-weight: bold;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: #F0F8FF;
        transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 0 10px 2px #ff9900; /* Adjust the values as per your preference */
            background-color: #F0F8FF; /* Add the desired background color */
        }

        &:nth-child(2n) {
            background-color: #238dc1;
            color: white;
        }

        .table-section-header {
            margin: 2em;
            font-size: x-large;
            font-weight: bolder;
        }

        .table-section-item {
            margin: 1em;
            letter-spacing: 0.06em;
            font-family: 'Montserrat', sans-serif;
            height: 3em;
            font-weight: 500;
        }

        .table-section-price {
            margin: 2em;
            font-family: 'Domine', serif;
            font-size: large;
            font-weight: bolder;
            height: 2em;
            display: flex;
            justify-content: center;
        }

        button {
            @include reset-button-style;
            color: white;
            font-family: 'Domine', serif;
            font-size: large;
            font-weight: bolder;
            background-color: $colorT;
            margin-top: 1em;
            margin-bottom: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: box-shadow 0.3s ease;
        }

        button:hover {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
            transform: scale(1.1);
        }

        .property-learn-more {
            margin-bottom: 2em;
            color: #238DC1;

            img {
                width: 0.5em;
                height: 0.5em;
            }
        }

        .property-learn-more:hover {
            cursor: pointer;
            color: #39a5af;
        }

        .property-icon-container {
            width: 100%;
            position: relative;
            display: inline-block;
            border-radius: 100% 0% 100% 0% / 44% 43% 57% 56%;
            padding-top: 4em;
            padding-bottom: 4em;
            margin-top: 1em;
            font-family: 'Tilt Prism', cursive;
            letter-spacing: 0.2em;

            &.bronze {
                background: rgba(205, 128, 50, 0.651);
                background: linear-gradient(90deg, rgba(205,127,50,1) 50%, rgba(240,248,255,1) 100%);
            }

            &.gold {
                background: rgba(255, 217, 0, 0.856);
                background: linear-gradient(90deg, rgba(255, 217, 0, 0.685) 50%, rgba(35,141,193,0.5) 100%);
                color: black;
            }

            &.platinum {
                background: rgb(229,228,226);
                background: linear-gradient(90deg, rgba(229,228,226,1) 66%, rgba(240,248,255,1) 100%);
            }

            // .ribbon {
            //     position: absolute;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     top: 13%;
            //     right: 0;
            //     transform: translateY(-50%);
            //     transform: rotate(1.125turn);
            //     width: 60%;
            //     height: 15px;
            //     background: red;
            //     overflow: hidden;
            //     border-radius: 10px;

            //     span {
            //         font-size: small;
            //     }
            // }
        }
    }
}

.property-icon {
    width: 5em;
    height: 5em;
}

.maintenance-img {
    @include service-img-style;
    margin-bottom: 5em;

    &.first {
        background-image: url('../../assets/images/img_5.jpg');
    }

    &.second {
        background-image: url('../../assets/images/img_4.jpg');
    }

    &.third {
        background-image: url('../../assets/images/img_1.jpg');
    }

    &.fourth {
        background-image: url('../../assets/images/img_7.jpg');
        margin-bottom:0;
    }
}

.property-after-table {
    opacity: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;

    @media screen and (max-width: 700px) {
        width: 60%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 550px) {
        width: 70%;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 500px) {
        width: 80%;
        transition: all 0.5s ease;
    }

    .property-package-caption {
        font-family: 'Domine', serif;
        font-weight: bold;
        font-size: larger;
        line-height: 2em;
        letter-spacing: 0.3em;
        text-align: center;

        span {
            color: $colorM;
        }
    }

    .property-package-description {
        font-family: 'Domine', serif;
        line-height: 2em;
        text-align: justify;
        letter-spacing: 0.1em;

        span {
            color: $colorT;
            font-style: italic;

        }
    }

    .property-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include reset-button-style;
            color: white;
            background-color: #D7C724;
            margin-top: 1em;
            margin-bottom: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: box-shadow 0.3s ease;
            font-family: 'Domine', serif;
    
            @media screen and (max-width: 460px) {
                padding: 1em 1.3em;
                transition: padding 0.5s ease;
            }
    
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
                transform: scale(1.1);
            }
        }
    }
}

.quiz-request-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 5em;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.5);
    font-family: 'Barlow Semi Condensed', sans-serif;

    .quiz-request-content {
        width: 50%;
        h1 {
            font-size: x-large;
        }

        .quiz-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                @include reset-button-style;
                color: white;
                background-color: #39a5af;
                margin-top: 1em;
                margin-bottom: 2em;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                transition: box-shadow 0.3s ease;
                font-weight: bold;
        
                @media screen and (max-width: 460px) {
                    padding: 1em 1.3em;
                    transition: padding 0.5s ease;
                }
        
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
                    transform: scale(1.1);
                }
            } 
        }   
    }
}

.footer-wrapper {
    width: 100%;
    z-index: 1;
}