@import '../../index.scss';

.property-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.property-before-table {
    width: 100%;
}

.property-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      transition: all 0.5s ease;
    }
  
    @media screen and (max-width: 600px) {
      flex-direction: column;
      transition: all 0.5s ease;
    }    

    .property-header {
        z-index: 1;
        font-size: xx-large;
        width: 30%;
        border-top: 1px solid $colorM;
        border-bottom: 1px solid $colorM;
        margin-bottom: 1em;
        color: black;
        font-family: 'Domine', serif;
        text-align: center;
        letter-spacing: 0.1em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin: 0;
        padding-top: 1em;
        padding-bottom: 1em;

        @media screen and (max-width: 2065px) {
            width: 40%;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 770px) {
            font-size: x-large;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 470px) {
            font-size: large;
            width: 50%;
            transition: all 0.5s ease;
        }

        &.subheader {
            font-size: x-large;
        }
    }
}

.property-table-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    @media screen and (max-width: 1170px) {
        justify-content: flex-start;
        flex-wrap: wrap;
        transition: all 0.5s ease;
    }

    .table-column {
        flex: 1;
        text-align: center;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bold;

        .table-section-header {
            margin: 2em;
            font-family: 'Domine', serif;
            font-size: large;
            font-weight: bolder;
        }

        .table-section-item {
            margin: 1em;
            letter-spacing: 0.1em;
            height: 2em;
        }

        .table-section-price {
            margin: 2em;
            font-family: 'Domine', serif;
            font-size: large;
            font-weight: bolder;
            height: 2em;
            display: flex;
            justify-content: center;
        }

        button {
            @include reset-button-style;
            color: white;
            font-family: 'Domine', serif;
            font-size: large;
            font-weight: bolder;
            background-color: $colorT;
            margin-top: 1em;
            margin-bottom: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: box-shadow 0.3s ease;
        }

        button:hover {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
            transform: scale(1.1);
        }

        .property-learn-more {
            margin-bottom: 2em;
            color: #238DC1;

            img {
                width: 0.5em;
                height: 0.5em;
            }
        }

        .property-learn-more:hover {
            cursor: pointer;
            color: #39a5af;
        }
    }
}

.property-icon {
    width: 5em;
    height: 5em;
}

.maintenance-img {
    @include service-img-style;
    margin-bottom: 5em;

    &.first {
        background-image: url('../../assets/images/img_5.jpg');
    }

    &.second {
        background-image: url('../../assets/images/img_4.jpg');
    }

    &.third {
        background-image: url('../../assets/images/img_1.jpg');
    }
}

.property-after-table {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;

    .property-package-caption {
        font-family: 'Domine', serif;
        font-weight: bold;
        font-size: larger;
        line-height: 2em;
        letter-spacing: 0.3em;
        text-align: center;

        span {
            color: $colorM;
        }
    }

    .property-package-description {
        font-family: 'Domine', serif;
        line-height: 2em;
        text-align: justify;
        letter-spacing: 0.1em;

        span {
            color: $colorT;
            font-style: italic;

        }
    }

    .property-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include reset-button-style;
            color: white;
            background-color: #D7C724;
            margin-top: 1em;
            margin-bottom: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: box-shadow 0.3s ease;
    
            @media screen and (max-width: 460px) {
                padding: 1em 1.3em;
                transition: padding 0.5s ease;
            }
    
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
                transform: scale(1.1);
            }
        }
    }
}

.footer-wrapper {
    width: 100%;
    z-index: 1;
}