@import '../../index.scss';


.maintenance-img {
    &.img-one {
        background-image: url('../../assets/images/img_9.jpg');
    }

    &.img-two {
        background-image: url('../../assets/images/img_10.jpg');
        margin-bottom:0;
    }
}

.offer-list {
    list-style: none;
    padding: 0;
}
  
.offer {
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
}
  
.offer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    background-color: #333;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
  
.offer:hover:before {
    transform: scale(1);
}
  
.offer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 0;
    height: 1px;
    background-color: #333;
    transition: width 0.3s ease-in-out;
}
