@import '../../index.scss';


.maintenance-img {
    &.img-one {
        background-image: url('../../assets/images/img_9.jpg');
        margin-bottom: 1em;
    }

    &.img-two {
        background-image: url('../../assets/images/img_10.jpg');
        margin-bottom:0;
    }
}

.property-features-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;

    .property-features-wrapper-caption {
        width: 80%;
        text-align: center;
        margin-bottom:2em;

        .title-word {
            animation: color-animation 4s linear infinite;
            font-weight: bold;
        }
          
          .title-word-1 {
            --color-1: #DF8453;
            --color-2: #3D8DAE;
            --color-3: #E4A9A8;
        }
          
          .title-word-2 {
            --color-1: #DBAD4A;
            --color-2: #ACCFCB;
            --color-3: #CBC82D;
        }
          
          .title-word-3 {
            --color-1: #ACCFCB;
            --color-2: #E4A9A8;
            --color-3: #ACCFCB;
        }
    }
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

.select-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    margin-bottom: 0.5em;

    .select-container-item{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        position: relative;

        select {
            padding: 10px;
            width: 300px;
            background-color:rgba(57, 165, 175, 0.4);
            border:none;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;
            font-size: medium;
        }
    }
}

  
// .checkbox-container {
//     width: 300px;
//     margin-bottom: 2em;
//     .checkbox-container-item {
//         display: flex;
//         justify-content: space-between;

//         padding-top: 10px;
//         padding-left: 10px;
//         label {
//             width: 300px;
//             display: flex;

//             align-items: center;
//             font-family: 'Open Sans', sans-serif;
//             font-size: medium;
//             position: relative;
//         }

//         input[type="checkbox"] {
//             display: none; /* Hide the default radio button */
//         }

//         .checkmark {
//             display: inline-block;
//             width: 20px;
//             height: 20px;
//             background-color: rgba(57, 165, 175, 0.4);
//             border-radius: 3px;
//             position: absolute;
//             right:0;
            
//         }

//         .checkmark::after {
//             content: "";
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             width: 8px;
//             height: 8px;
//             background-color: rgba(0, 0, 0, 0.5);
//             border-radius: 50%;
//             opacity: 0;
//         }

//         input[type="checkbox"]:checked + .checkmark::after {
//             opacity: 1; /* Show the dot when the radio button is checked */
//         }
//     }

// }

.quote-btn {
    @include reset-button-style;
    margin-bottom: 3em;
    padding: 1em;
    padding-top: .5s;
    padding-bottom: .5s;
    font-family: 'Domine', serif;
    background-color:#CBC82D;
    color: white;
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 64px 75px, rgba(0, 0, 0, 0.22) 0px -16px 40px, rgba(0, 0, 0, 0.22) 0px 6px 8px, rgba(0, 0, 0, 0.27) 0px 16px 18px, rgba(0, 0, 0, 0.19) 0px -5px 7px;
        transform: scale(1.1);
    }
}

.offer-list-start {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .3s ease-out; 
  }
  
  .offer-list-start li {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .offer-list-start li.slide-in {
    opacity: 1;
    transform: translateX(0);
    display: flex;
    padding: 0.5em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(203, 200, 45, 0.5) 0px 1px 2px 0px;
    border-radius: 10px;
    transition: all .3s ease-out;
    padding-left: 2.5em;

    overflow: hidden;
  }

  .offer-list-start li.slide-in .offer {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.offer-list .offer::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../../assets/images/wrench-icon.png');
    background-size: cover;
    margin-right: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 4.5%;
}

.offer-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

    ul {
        list-style: none;
        padding:0;
    
        @media screen and (max-width: 510px) {
            width: 80%;
        }
    
        li {
            display: flex;
            justify-content:baseline;
            align-items: center;
            margin: 0.5em;
            font-family: 'Domine', serif;
            font-size: large;
        }
    
    }
}

.offer-list-header {
    @include header-animation;
    font-size: xx-large;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.error-message {
    font-size: small;
    color: #E4A9A8;
    position: absolute;
    bottom: -55%;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    @media screen and (max-width: 750px) {
        height: 32vh;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 670px) and (max-height: 510px) {
        height: 40vh;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 920px) and (max-height: 510px) {
        height: 45vh;
        transition: all 0.5s ease;
    }


    .quote-container-price {
        p {
            font-family: 'Domine', serif;
            font-weight: bold;
            font-size: 1.5em;
            margin:0;
            padding: 1em;
            // border: 1px solid black;
        }
    }
}

.quote-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .quote-buttons-item {
        @include reset-button-style;
        background-color: #39a5af;
        padding: 0.5em 1em;
        color: white;
        font-weight: bold;
        font-family: 'Domine', serif;

        &.back-btn {
            margin-left: 1em;
            background-color: #CBC82D;
        }

        &:hover {
            @include hover-btn;
        }
    }
}

.border-animation {
    text-align: center;
    border-radius: 5px;
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        rgb(255, 255, 255),
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255)
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #CBC82D, #39a5af);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
   } 
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }