@import '../../index.scss';


.maintenance-img {
    &.img-one {
        background-image: url('../../assets/images/img_9.jpg');
    }

    &.img-two {
        background-image: url('../../assets/images/img_10.jpg');
        margin-bottom:0;
    }
}

ul {
    list-style: none;
    padding:0;

    li {
        display: flex;
        justify-content:baseline;
        align-items: center;
        margin: 1em;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bolder;
        font-size: large;
    }

    li:hover {
        transform: translateX(-50%);
        transition: all .3s ease-out;
    }
}



.offer-list .offer::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../../assets/images/wrench-icon.png');
    background-size: cover;
    margin-right: 0.5em;
}

.offer-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.offer-list-header {
    @include header-animation;
    font-size: xx-large;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}