@import '../../index.scss';


.maintenance-img {
    &.img-one {
        background-image: url('../../assets/images/img_9.jpg');
    }

    &.img-two {
        background-image: url('../../assets/images/img_10.jpg');
        margin-bottom:0;
    }
}

.offer-list {
    list-style: none;
    padding: 0;
}
  
.offer {
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
}
  
.offer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    background-color: #333;
    // border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
  
.offer:hover:before {
    transform: scale(1);
}
  
.offer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 0;
    height: 1px;
    background-color: #333;
    transition: width 0.3s ease-in-out;
}
  
.offer:hover:after {
    width: 100%;
}
  
.offer-list li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
  
.offer-list li:nth-child(1) {
    transition-delay: 0.1s;
}
  
.offer-list li:nth-child(2) {
    transition-delay: 0.2s;
}
  
.offer-list li:nth-child(3) {
    transition-delay: 0.3s;
}
  
.offer-list li:nth-child(4) {
    transition-delay: 0.4s;
}
  
.offer-list li:nth-child(5) {
    transition-delay: 0.5s;
}
  
.offer-list li:nth-child(6) {
    transition-delay: 0.6s;
}
  
.offer-list li:nth-child(7) {
    transition-delay: 0.7s;
}
  
.offer-list li:nth-child(8) {
    transition-delay: 0.8s;
}
  
.offer-list li:nth-child(9) {
    transition-delay: 0.9s;
}
  
.offer-list li:nth-child(10) {
    transition-delay: 1s;
}
  
.offer-list li.visible {
    opacity: 1;
    transform: translateY(0);
}