.navbar-container-wrapper {
    position: fixed;
    width: 100%;
    z-index: 2;

    .hidden {
        visibility: hidden;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    font-size: small;
    letter-spacing: 0.2em;

    img {
        width: 1em;
        height: 1em;
    }

    .navbar-container-cross {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 25px;
        font-weight: 100;
        font-family: inherent;
        color: #CBC82D;
        z-index: 1;
        margin-left: 0.5em;
    }
}

.navbar-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: visible;

    @media screen and (max-width: 768px) {
        visibility:hidden;
    }

    .navbar-section:hover {
        cursor: pointer;
    }

    .navbar-maintenance {
        margin-left: 3em;
        margin-right: 3em;
    }
}

.navbar-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.navbar-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    z-index: 1;
    position: relative;

    &:hover{
        cursor: pointer;
    }

    .navbar-cart-qty-container{
        position: absolute;
        bottom: 0;
        left: -2px;
        color: black;
        font-weight: bold;
    }
}

.navbar-container-expanded {
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: small;
    letter-spacing: 0.2em;

    padding-top: 40px;
    padding-left: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: navbarExpand 0.5s ease forwards;

    @media screen and (max-height: 680px) {
        height: 18vh;
        transition: height 0.5s ease;
    }

    @media screen and (max-height: 600px) {
        height: 20vh;
        transition: height 0.5s ease;
    }

    @media screen and (max-height: 530px) {
        height: 22vh;
        transition: height 0.5s ease;
    }

    @media screen and (max-height: 480px) {
        height: 25vh;
        transition: height 0.5s ease;
    }

    @media screen and (max-height: 410px) {
        height: 28vh;
        transition: height 0.5s ease;
    }

    .navbar-section {
        margin-bottom: 10px;
    }
}

.navbar-container-expanded.animate {
    top: calc(100% + 10px); /* Adjust the value as per your desired spacing */
  }

  @keyframes navbarExpand {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }