body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// PRIMARY COLORS:
$colorT: #39a5af;
$colorP: #238DC1;
$colorM: #CBC82D;

// SECONDARY COLORS:
$color1: #44ffff;
$color2: #ffff92;
$gold: #FFD700;
$platinum: #e5e4e2;
$bronze: #cd7f32;

// button style
@mixin reset-button-style {
  background: rgba(203, 200, 45, 0.5);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 15px;
  padding: 1em 3.5em;
  transition: transform 0.25s;
  margin: 2em 0;
}

// button hover style
@mixin hover-btn {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em $color2;
}

// image style
@mixin service-img-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30vh;
  background-attachment: fixed;
}

@mixin header-animation {
  text-transform: uppercase;
  background-image: linear-gradient(
      -225deg,
      #238DC1 0%,
      #39a5af 29%,
      #CBC82D 67%,
      #ffff92 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

//Fonts
// font-family: 'Abril Fatface', cursive;
//font-family: 'Domine', serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Barlow Semi Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Semi+Condensed:wght@100;300&family=Domine:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap');


// font-family: 'Comfortaa', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Tilt Prism', cursive;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@400;600&family=Tilt+Prism&display=swap')