body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// PRIMARY COLORS:
$colorT: #39a5af;
$colorP: #238DC1;
$colorM: #D7C724;

// SECONDARY COLORS:
$color1: #44ffff;
$color2: #ffff92;

// button style
@mixin reset-button-style {
  background: rgba(203, 200, 45, 0.5);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 15px;
  padding: 1em 3.5em;
  transition: transform 0.25s;
  margin: 2em 0;
}

// button hover style
@mixin hover-btn {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em $color2;
}

//Fonts
// font-family: 'Abril Fatface', cursive;
//font-family: 'Domine', serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Barlow Semi Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Semi+Condensed:wght@300&family=Domine:wght@400;500;600&family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap')
