@import '../../index.scss';
.document-form-container {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;

  .document-form-header {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.2em;
  }

  .document-form-caption {
    font-size: large;
    margin-bottom: 1em;
    text-align: center;
  }
  .form-inputs {
    display: flex;
    flex-direction: column;

    input, textarea {
      padding: 1em;
      border-radius: 15px;
      margin: 0.5em;
      border: 2px solid #238DC1;
      font-family: 'Montserrat', sans-serif;
    }

    textarea {
      height: 20px;
    }
  }

  .reset-container {
    display: flex;
    justify-content: center;
    align-items: center;

    a, button {
      margin: 1em;
      cursor: pointer;
      color: purple;
    }

    button {
      border: none;
      background: none;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-decoration: underline;
    }
  }

  .btn-upload-docs {
    @include reset-button-style;
    border: 2px solid #CBC82D;

    &:hover {
      @include hover-btn;
    }
  }
}
    
  .file-input {
    display: none;
  }


.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: black;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
