@import '../../index.scss';
.document-form-container {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;

  .document-form-header {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.2em;
  }

  .document-form-caption {
    font-size: large;
    margin-bottom: 1em;
    text-align: center;
  }
  .form-inputs {
    display: flex;
    flex-direction: column;

    input, textarea {
      padding: 1em;
      border-radius: 15px;
      margin: 0.5em;
      border: 2px solid #238DC1;
      font-family: 'Montserrat', sans-serif;
    }

    textarea {
      height: 100px;
    }
  }

  .drop-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ddd;
    padding: 20px;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    
    &.drag-over {
      border-color: #aaa;
    }
    
    .drop-area-text {
      color: #888;
      width: 70%;
    }
  }
    
  .file-input {
    display: none;
  }

  button {
    @include reset-button-style;
    border: 2px solid #CBC82D;

    &:hover {
      @include hover-btn;
    }
  }
}
